:root {
  /* Colors */

  --white-color: #ffffff;
  --grey-color: #737373;
  --black-color: #000000;
  --active-color: #0a8bfe;

  /* Fonts */

  --main-font: 'Roboto', sans-serif;
  --second-font: 'Inter', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #b4b4b4;
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Containers */

.container {
  width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-items: center;
}

/* Header */

header {
  padding-top: 50px;
}

.header-logo-link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: calc(30 / 13);
  color: var(--white-color);
}

.header-logo-img {
  margin-right: 8px;
}

.header-nav {
  margin-left: auto;
}

.header-nav-items {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-nav-item {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: calc(30 / 13);
  color: var(--white-color);
}

.header-nav-link {
  padding: 30px 0;
}

.header-nav-btn {
  display: block;
  padding: 12px 16px;
  margin-left: 52px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: calc(16 / 13);
  text-align: center;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

/* Hero section */

.hero {
  padding-top: 240px;
  padding-bottom: 270px;
}

.hero-title {
  max-width: 421px;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 42px;
  line-height: calc(50 / 40);
  color: var(--white-color);
}

.hero-desc {
  max-width: 420px;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 11px;
  line-height: calc(30 / 11);
  color: var(--white-color);
}

.hero-btn {
  display: inline-block;
  padding: 15px 37px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: var(--white-color);
  background-color: var(--active-color);
  border-radius: 4px;
  border: transparent;
}
